 .hero {
     height: 80vh;

 }

 .hero-content {
     height: 100%;
 }

 .swiper {
     width: 100%;
     height: 100%;
 }

 .hero-content .swiper-slide {
     text-align: center;
     font-size: 18px;
     background: #eaeaea;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .hero-content.swiper-slide img {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .hero-content .swiper-slide .slide {
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center center;
     width: 100%;
     height: 100%;
 }

 .hero-content .swiper-slide .slide .overlay {
     background-color: rgba(0, 0, 0, 0.6);
     width: 100%;
     height: 100%;
 }

 .hero-content .swiper-slide .slide-content {
     max-width: 1200px;
     margin-inline: auto;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100%;
     padding: 20px 30px;
 }

 .hero-content .swiper-slide .slide h3 {
     font-size: 2.8rem;
     margin-bottom: 15px;
     font-weight: 500;
     color: white;


 }

 .hero-content .swiper-slide .slide p {
     margin-bottom: 30px;
     color: white;
     max-width: 800px;
     margin-inline: auto;
     font-size: 17px;
 }

 .hero-content .swiper-slide .slide .action {
     width: 100%;
     display: flex;
     justify-content: center;
     gap: 20px;
 }

 .hero-content .swiper-slide .slide .action a {
     padding: 12px 30px;
     color: white;
     font-weight: 500;
     font-size: 18px;
 }

 .hero-content .swiper-slide .slide .action a.whatsapp {
     background-color: #000000;
     border: 2px solid white;
 }

 .hero-content .swiper-slide .slide .action a.call {
     background: #ff0000;
     background: linear-gradient(91deg, rgba(255, 0, 0, 1) 0%, rgba(158, 16, 0, 1) 100%);
 }

 .hero-content .swiper-slide .slide .action a i {
     color: white;
     font-size: 18px;
 }




 @media screen and (max-width:576px) {

     .hero {
         height: 65vh;
     }

     .hero-content .swiper-slide .slide h3 {
         font-size: 2.3rem;
     }

     .hero-content .swiper-slide .slide p {
         font-size: 14px;
         line-height: 20px;
     }

     .hero-content .swiper-slide .slide .action {
         width: 100%;
         display: grid;
         grid-template-columns: 1fr;
         gap: 12px;
     }
 }