.reviews {
    padding: 4rem 20px;
}

.reviews>h2 {
    text-align: center;
    margin-bottom: 10px;
}

.reviews>p {
    text-align: center;
    margin-bottom: 50px;
    max-width: 1000px;
    margin-inline: auto;
}



.reviews-content {
    max-width: 1200px;
    margin-inline: auto;
}

.reviews-content .swiper {
    padding: 0px 0px 3rem;
}

.reviews-content .swiper .swiper-slide {
    width: 500px;
    height: 100%;
}



.reviews-content .review {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-top: 6px solid var(--bg-red);
    width: 100%;
    text-align: left;
    height: 100%;
}

.reviews-content .review .top {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.reviews-content .review .top img {
    width: 40px;
}

.reviews-content .review .top h4 {
    font-size: 18px;
}

.reviews-content .review .rating {
    margin-bottom: 10px;
}

.reviews-content .review .rating i {
    color: goldenrod;
}

.reviews-content .review p {}


@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {
    .reviews {
        padding: 2rem 20px;

    }

    .reviews-content .swiper .swiper-slide {
        width: 100%;
    }
}